/*
 * @Description : 全局样式
 * @Author      : huazf
 * @Date        : 2022-07-22
 * @LastEditors : huazf
 * @LastEditTime: 2022-07-23
 * @FilePath    : \vue3-demo\src\assets\style\global.less
 */
// 页面布局容器
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: @bgColor;
  font-size: 14px;
  color: #333;
}
