/*
 * @Description : 公共样式
 * @Author      : huazf
 * @Date        : 2022-06-30
 * @LastEditors : huazf
 * @LastEditTime: 2022-07-01
 * @FilePath    : \vue3-vite\src\styles\common.less
 */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

// 页面布局容器
.container {
  position: relative;
  height: calc(100vh);
  background-color: @bgColor;
  overflow-y: auto;
}
