*,
::before,
::after {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-break: break-all;
  box-sizing: border-box;
}

html,
body {
  line-height: 1;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

body {
  -webkit-overflow-scrolling: touch;
}

/* 通用列表样式清除 */
ol,
ul {
  list-style: none;
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  appearance: button;
}

/* 修复无法点击的表单元素内的`::-moz-focus-inner`边距问题 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input,
textarea {
  outline: none;
  resize: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}
